/*
the following code is to use the downloaded font sice it is not in browsers by default
*/
@font-face {
  font-family: 'AmsterdamOne';
  src: url('/font/AmsterdamOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
this is only for the colour to make it easier to change them upon request
and these are the only colours to use for the pages
*/
:root{
    --primary-colour: #a8c0a2;
    --secondary: #f4c6c6;
    --tertiary:#444444;
    --text-color: black;
    --borders: #444444;
}

/* 
all of the body is to keep the form centered and give it the background
*/
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background-image: url('/images/venue1.jpg');
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;

}

form{
    color: var(--text-color);
    position: relative;
    display: block;
    margin: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    align-self: auto;
    border: 1px solid var(--secondary);
    border-radius: 5%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.664);/* this is white but not using the predefined colours*/
    backdrop-filter: blur(6px);
    width: auto;
}
/* this would be beautiful and wow if we had the colours in variables but that will be added when i have time
*/

form h1{
    font-family: 'AmsterdamOne', cursive;
    font-weight: 600;
    text-align: center;
}

.input_box{
    margin: 12px;
    justify-items: start;
    transition:0.95s ease-in-out;
}

.input_box input[type=text], input[type=password] {
    width:85%;
    margin:auto;
    display: block;
    background-color: transparent;
    border:none;
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
    transition: 0.95s ease-in-out;
    padding-left: 20px;

}


.input_box input[type=text]:focus, input[type=password]:focus {
    margin: auto;
    height:3vh;
    border: none;
    color: var(--borders);
    font-size: 120%;
    text-decoration: none;
    outline: none !important;
    border-bottom: 2px solid var(--borders) !important;
}
.input_box input:focus{
    border:none;
}

 .input_box input:hover{
    font-size: 105%;
    width: 95%;
    border-bottom: 4px solid var(--borders) !important;
 }

 .input_box i{
    width:14px;
    position: absolute;
    padding-right: 12px;
 }

 form .formButtons{
    display: flex;
    justify-content: space-between;
    padding:2px;
    width:90%;
    padding-left: 5%;
    padding-right: 5%;
    margin:0px;
 }
form .formButtons button{
    background: none;
    border: 1px solid var(--borders);
    border-radius: 7px;
    height: 100%;
    width: 40%;
    transition:0.95s ease-in-out;
    /* i must add the image as the background of the buttoms so that they glow on hover*/
  }

  form .formButtons button:hover{
    font-size: 103%;
    width:45%;
    border-color: var(--borders);
  }

form p{
    display: flex;
    width:100%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

form p a{
    font-size: small;
    display: flex;
    text-align: center;
    justify-items: center;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    transition: 0.95s ease-in-out;
    margin: auto;
}

form p a:hover{
    font-size: 105%;
    text-decoration: solid;
    color: var(--text-color);
    font-weight: 200;
}

 /* to do:
        # cater for the surface pro 7:912x1368 and ipad pro:1024x1366
        #add icons to the screen

 !remember!:
    *you tested this on: chrome and edge 
    *both have the same issues with the responsaive of those two phones 
 */