body{
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background-image: url('/images/venue1.jpg');
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;

}


form{
    color: black;
    position: relative;
    display: block;
    margin: auto;
    top:auto;
    align-items: center;
    justify-content: center;
    /*justify-items: center;*/
    align-self: auto;
    border: 1px solid palevioletred;
    border-radius: 5%;
    padding:12px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: fit-content;
    min-width: none;/* will add a number after appropriate trial and error*/
}

.input_box{
    margin: 12px;
    justify-items: start;
    transition:0.75s ease-in-out;
}

.input_box label{
    padding: 12px;
    width: 70%;
    margin: auto;
}

.input_box input[type=text], input[type=password] {
    width:80%;
    margin:auto;
    display: block;
    background-color: transparent;
    border:none;

    border-bottom: 1px solid black ;
}
.input_box input[type=text]:focus-visible{
    width:100%;
    height:3vh;
    border: none;
}
.input_box input:focus{
    border:none;
}

 .input_box input:hover{
    height: 100%;
 }