/*
the following code is to use the downloaded font sice it is not in browsers by default
*/
@font-face {
  font-family: 'AmsterdamOne';
  src: url('/font/AmsterdamOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
this is only for the colour to make it easier to change them upon request
and these are the only colours to use for the pages
*/
:root{
    --primary-colour: #a8c0a2;
    --secondary: #f4c6c6;
    --tertiary:#444444;
    --text-color: black;
    --borders: #444444;
    --font: 'Courier New', Courier, monospace;
}

/* 
all of the body is to keep the form centered and give it the background
*/
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background-image: url('/images/venue1.jpg');
    background-position: centre;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

}

form{
    color: var(--text-color);
    position: relative;
    display: block;
    margin: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    align-self: auto;
    border: 1px solid var(--secondary);
    border-radius: 5%;
    padding: 12px;
    background-color: rgba(216, 216, 216, 0.664);/* this is white but not using the predefined colours*/
    backdrop-filter: blur(6px);
    width: auto;
}
/* this would be beautiful and wow if we had the colours in variables but that will be added when i have time
*/

form h1{
    font-family: 'AmsterdamOne', cursive;
    font-weight: 600;
    text-align: center;
}

.input_box{
    margin: 15px;
    justify-items: start;
    transition: 0.95s ease-in-out;
    background-color: #44444409;
    border-radius: 5px;
    box-shadow: 0px 9px 12px rgb(0, 0, 0, 0.5);
    height: 30px;
    margin-top: 0px;
    padding: 0px 12px 0px 12px;
}
/*
this will only display after the person has selected it asssuming the placeholders will be vanished by then
*/
label{
    display: block;
    height: 27px;
    width: 100%;
    padding-left: 22px;
    margin-bottom: 0px;
    transition: 0.97s ease-in-out;
    font-family: var(--font);
    
}
.input_box input:focus{
    font-family: var(--font);
    display: block;
    font-size: 0.9em ;
    padding-left:0px;
}


.input_box input[type=text], input[type=password] {
    width: 87%;
    margin-left: auto;
    right: 0px;
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
    transition: 0.97s ease-in-out;
}


.input_box input[type=text]:focus, input[type=password]:focus {
    color: var(--text-color);
    font-size: 105%;
    text-decoration: none;
    width:87%;
    outline: none !important;
    border-bottom: 1px solid var(--borders) !important;
}

.input_box input:focus{
    border:none;
}

 .input_box input:hover{
    font-size: 101%;
    width: 90%;
    border-bottom: 2px solid var(--borders) !important;
 }

 .input_box i{
    width:14px;
    position: absolute;
    padding-right: 12px;
    font-size: 20px;
 }

 form .formButtons{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 20px;
    height: auto;
 }
form .formButtons button{
    background: none;
    border: 1px solid var(--borders);
    border-radius: 7px;
    height: 27px;
    width: 40%;
    transition: 0.97s ease-in-out;
  }

  form .formButtons button:hover{
    font-size: 103%;
    width:45%;
    border-color: var(--secondary);
    background-color: var(--primary-colour);
  }

form p{
    display: flex;
    width:100%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

form p a{
    font-size: small;
    text-decoration: none;
    color: var(--font);
    display: flex;
    font-family: var(--font);
    text-align: center;
    justify-items: center;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    transition: 0.95s ease-in-out;
    margin: auto;
}

form p a:hover{
    font-size: 105%;
    text-decoration: solid;
    color: var(--text-color);
    font-weight: 200;
}

/*
 !remember!:
    *tested this on: chrome and edge 
    *both have the same issues with the responsaive of those two phones 
 */